<div class="d-flex flex-column">
    <MudText Typo="Typo.h6" Class="px-4 py-2">Sannel.Arcade.Metadata</MudText>
    <MudNavMenu>
        <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
        <MudNavLink Href="app" Icon="@Icons.Material.Filled.Apps">App</MudNavLink>
        <MudNavLink Href="login" Icon="@Icons.Material.Filled.Login">Login</MudNavLink>
    </MudNavMenu>
</div>

