@page "/settings"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: true))
@using Sannel.Arcade.Metadata.Client.Models
@using Sannel.Arcade.Metadata.Client.Services

<PageTitle>Settings</PageTitle>

<MudContainer MaxWidth="MaxWidth.Medium">
	<MudPaper Class="pa-8 mt-4" Elevation="4">
		<MudText Typo="Typo.h4" Align="Align.Left" GutterBottom="true">
			Application Settings
		</MudText>

		<MudTabs Elevation="4" Class="mt-4">
			<MudTabPanel Text="IGDB Configuration">
				<div class="mt-4">
					<EditForm Model="_igdbSettings" OnValidSubmit="SaveIgdbSettings">
						<DataAnnotationsValidator />

						<MudTextField @bind-Value="_igdbSettings.ClientId"
									  Label="IGDB Client ID"
									  Variant="Variant.Outlined"
									  Margin="Margin.Normal"
									  FullWidth="true"
									  Required="true"
									  HelperText="Your IGDB API Client ID"
									  For="@(() => _igdbSettings.ClientId)" />

						<MudTextField @bind-Value="_igdbSettings.ClientSecret"
									  Label="IGDB Client Secret"
									  Variant="Variant.Outlined"
									  Margin="Margin.Normal"
									  FullWidth="true"
									  InputType="InputType.Password"
									  Required="true"
									  HelperText="Your IGDB API Client Secret (will be stored securely)"
									  For="@(() => _igdbSettings.ClientSecret)" />

						@if (!string.IsNullOrEmpty(_errorMessage))
						{
							<MudAlert Severity="Severity.Error" Class="mt-4">
								@_errorMessage
							</MudAlert>
						}

						@if (!string.IsNullOrEmpty(_successMessage))
						{
							<MudAlert Severity="Severity.Success" Class="mt-4">
								@_successMessage
							</MudAlert>
						}

						<div class="d-flex justify-space-between mt-6">
							<MudButton ButtonType="ButtonType.Submit"
									   Variant="Variant.Filled"
									   Color="Color.Primary"
									   Disabled="_isLoading">
								@if (_isLoading)
								{
									<MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
									<MudText Class="ms-2">Saving...</MudText>
								}
								else
								{
									<MudText>Save Settings</MudText>
								}
							</MudButton>

							<MudButton Variant="Variant.Outlined"
									   Color="Color.Secondary"
									   OnClick="LoadIgdbSettings"
									   Disabled="_isLoading">
								Reload Settings
							</MudButton>
						</div>
					</EditForm>
				</div>
			</MudTabPanel>
		</MudTabs>
	</MudPaper>
</MudContainer>